@import "styles/mixin";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    position: relative;
}

.menu {
    position: absolute;
    top: -9px;
    left: -6px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% + 12px);
    max-width: 300px;
    padding: 9px 6px;

    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

    border-radius: 12px;
    background: var(--color-white);
    z-index: 4;
    animation-name: fadeIn;
    animation-duration: 0.3s;

    &--small {
        min-width: 190px;
    }
}

.btn {
    position: relative;
    @include flex(center, space-between);
    height: 36px;
    //
    color: var(--color-white);
    font-size: 1.4rem;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    transition: var(--transition-base);

    & > svg {
        margin-right: 8px;
    }
}

.btn-new {
    margin: 11px 0 8px 0;
}

.btn-note {
    background-color: var(--primary-color);
}

.btn-todo {
    background-color: var(--color-violet);

    svg {
        color: var(--color-white);
    }
}

.btn-content {
    @include flex(center, unset);
    & > svg {
        margin: 0 2px 0 6px;
    }
}
