.wrapper {
    width: 100%;
    padding: 0 30px;
    overflow-y: auto;
}

.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar > span {
    font-size: 2rem;
    color: var(--color-text);
}

.search {
    width: 216px;
    height: 36px;
}

.main {
    border-top: 2px solid #5b6b70;
}
