{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "mixin": "src/assets/styles/mixin"
                }
            }
        ]
    ]
}
