.insert-btn {
    & > svg {
        fill: var(--color-blue);
    }
}

.insert {
    padding: 12px 0;
}

.insert-item {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 6px;
    padding: 0 10px;
    cursor: pointer;
}

.insert-icon {
    width: 24px;
    height: 24px;
    padding: 6px;
    box-sizing: content-box;
    background: var(--color-f2);
    fill: var(--color-blue);
    border-radius: 4px;
}

.insert-name {
    position: relative;
    padding: 0 9px 0 14px;
    font-size: 1.4rem;
    color: var(--text-color);
    height: 100%;
    line-height: 36px;

    flex: 1;
    z-index: 1;
    &::after {
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        position: absolute;
        background: var(--color-f2);
        z-index: 0;
        transition: width ease-in-out 0.15s;
        border-radius: 0 4px 4px 0;
    }
    & > span {
        display: inline-block;
        position: relative;
        width: 100%;
        z-index: 1;
    }
}

.insert-item:hover {
    & > .insert-name::after {
        width: 100%;
    }

    & > .insert-icon {
        border-radius: 4px 0 0 4px;
    }
}
