.wrapper {
    padding: 8px 19px;
    font-size: 1.4rem;
    display: inline-block;
    border-radius: 4px;
    line-height: 1.6rem;
    transition: var(--transition-base);
    margin-right: 8px;
}

.primary {
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    &:hover {
        background-color: var(--primary-hover);
        border: 1px solid var(--primary-hover);
    }
}

.outline {
    color: var(--color-73);
    border: 1px solid var(--color-73);
    &:hover {
        color: var(--black);
    }
}

.disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0.7);
    &:hover {
        color: rgba(255, 255, 255, 0.7);
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}
