.wrapper {
    display: inline-block;
    height: 36px;
    line-height: 1.6rem;

    padding: 8px 19px;
    margin-left: 8px;
    border-radius: 4px;

    font-size: 1.4rem;
    transition: var(--transition-base);
}

.primary {
    color: var(--color-white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    &:hover {
        background-color: var(--primary-hover-color);
        border: 1px solid var(--primary-hover-color);
    }
}

.outline {
    color: var(--color-73);
    border: 1px solid var(--color-73);
    &:hover {
        color: var(--color-black);
    }
}

.danger {
    background-color: #e54e40;
    border: 1px solid #e54e40;
    color: var(--color-white);
}

.disabled {
    cursor: default;
    color: var(--color-white);
    background-color: var(--color-gray);
    border: 1px solid var(--color-gray);
    &:hover {
        color: var(--color-white);
        background-color: var(--color-gray);
        border: 1px solid var(--color-gray);
    }
}
