@import 'styles/mixin';



.title {
    @include flex(center, unset);
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px;

    & > span {
        font-size: 2rem;
    }
}

.icon {
    &-note {
        margin-right: 8px;
    }
    &-book {
        margin-right: 4px;
    }
}

