@import "styles/mixin";

.wrapper {
    height: calc(100vh - 92px - 99px);
    overflow-y: auto;
}

.wrapper__small {
    overflow-y: hidden;

    .name {
        display: none;
    }

    .triangle {
        display: none;
    }

    .menu {
        display: none;
    }

    .item:hover .add-btn {
        display: none;
    }
}

.item {
    position: relative;
    @include flex(center, space-between);
    height: 32px;
    padding: 4px 16px 4px 18px;
    cursor: pointer;
    &:hover {
        background-color: #333;
        .add-btn {
            @include flex(center, center);
        }
    }

    &:hover > .name {
        color: var(--color-white);
    }

    &__active > .name {
        color: var(--color-white);
    }
}

.content {
    display: flex;
    flex: 1;
}

.triangle {
    display: flex;
    position: absolute;
    left: 5px;
    color: var(--color-a6);
    transition: all 0.1s ease-in-out;
    &__active {
        transform: rotate(90deg);
    }
}

.icon {
    @include flex(center, center);
    height: 24px;
    width: 24px;
    margin-right: 2px;
    color: var(--color-a6);
}

.name {
    color: var(--color-gray);
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.add-btn {
    display: none;
    width: 18px;
    height: 18px;

    border-radius: 50%;
    background-color: #1a1a1a;
    &:hover {
        background-color: #666;
    }
    &:hover > svg {
        color: var(--color-gray);
    }
    & > svg {
        color: var(--color-a6);
    }
}

.heading {
    color: var(--color-gray);
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 24px;
    margin-top: 6px;
}

.sub {
    @include flex(center, unset);
    height: 24px;
    padding: 0 8px 0 44px;
    cursor: pointer;

    &:hover {
        background-color: #333;
    }

    &:hover > .sub-name {
        color: var(--color-white);
    }

    &-icon {
        color: var(--color-a6);
    }

    &-name {
        color: var(--color-gray);
        font-size: 1.3rem;
        margin-left: 8px;
    }
}

.icon-note {
    width: 20px;
    height: 20px;
    margin-left: -2px;
}

.sub__active > .sub-name {
    color: var(--color-white);
}

.item__active,
.sub__active {
    background-color: #404040;
    &:hover {
        background-color: #404040;
    }
}

.sub-add {
    & > .sub-icon {
        color: var(--primary-color);
    }

    & > .sub-name {
        color: var(--primary-color);
    }

    &:hover > .sub-name {
        color: var(--primary-color);
    }
}
