@import "normalize.css";
@import "styles/font";
@import "styles/variables";
@import "styles/tippy";
@import "styles/slate";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "SegoeUI";
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--color-text);
    overflow-y: overlay;
    letter-spacing: 0.1px;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
    border-radius: 4px;
}

.overplay-enter {
    opacity: 0;
}
.overplay-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.overplay-exit {
    opacity: 1;
}
.overplay-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
