.wrapper {
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 52px;
    width: 100%;

    color: #737373;
    font-size: 1.4rem;
    padding: 0 16px;
    box-shadow: inset 0 -1px 0 0 var(--color-f2);

    z-index: 2;
}

.hide {
    z-index: 0;
}

.is-trash {
    display: flex;
    align-items: center;

    height: 32px;
    padding: 4px 16px 4px 8px;
    margin-right: 10px;
    border-radius: 16px;

    background-color: rgb(77, 77, 77);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: default;

    & > svg {
        margin-right: 4px;
    }
}

.date {
    cursor: default;
}
