.header {
    padding: 20px 25px;
}

.icon {
    opacity: 0.5;
    cursor: pointer;
    transition: var(--transition-base);
    &:hover {
        opacity: 1;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;

    & > span {
        color: var(--text-color);
    }
}

.description {
    max-width: 500px;
    font-size: 1.4rem;
    padding-top: 15px;
    color: var(--text-color);
    text-align: left;
}

.form {
    padding: 0 25px;

    & > div > p {
        min-height: 58px;
    }
    & > div > input:focus {
        border: 1px solid var(--color-blue);
    }
}

.button {
    padding: 20px 25px;
    margin: 0 -25px;
    text-align: right;
    border-top: 1px solid #d9d9d9;
}
