@import 'styles/mixin';

.wrapper {
    height: 360px;
    margin-top: 24px;
    width: 100;
    background-color: var(--white);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &:nth-child(1) {
        margin-top: 0px;
    }
}

.header {
    @include flex(center, space-between);
    padding: 16px 16px 10px 10px;
}

.title {
    padding: 0px 6px;
    height: 24px;
    border-radius: 4px;
    @include flex(center, unset);
    transition: var(--transition-base);
    cursor: pointer;
    &:hover {
        background-color: var(--color-f2);
    }
    & > span {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 4px;
    }
    & > svg {
        transform: rotateZ(180deg);
        color: var(--primary-color);
    }
}

.btn {
    @include flex(center, center);
    height: 100%;
    transition: var(--transition-base);
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;

    & svg {
        color: var(--color-73);
    }
    // &:hover {
    //     background-color: var(--color-f2);
    // }
}

.menu {
    padding: 12px 0;
}

.item {
    padding: 6px 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition-base);
    &:hover {
        background-color: var(--color-f2);
    }
}
