@import "styles/mixin";

.content {
    @include flex(center, unset);
    // position: relative;
    height: 36px;
    width: 100%;

    background-color: #404040;
    padding-left: 6px;
    border-radius: 50px;
    margin-top: 2px;
}

.icon {
    color: var(--color-gray);
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 3px;
}

.cancel {
    position: absolute;
    right: 0;
    color: white;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.focus {
    position: relative;
    border-radius: 4px 0px 0 0;

    & > .input > input {
        position: relative;
        background-color: var(--color-white);
        color: var(--color-black);
        z-index: 999;
    }

    & .icon {
        color: var(--color-73);
        z-index: 999;
    }

    & .cancel {
        color: var(--color-73);
        z-index: 999;
        width: 19px;
        height: 19px;
    }

    & .input > input::placeholder {
        color: var(--color-black);
    }
}

.focus::after {
    content: "";
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 24px);
    left: -5px;
    top: -5px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    z-index: 998;
    border-radius: 4px;
}

.focus--full::after {
    border-radius: 4px 4px 0 0;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0 26px;
    & > input {
        width: 100%;
        height: 100%;
        background-color: #404040;
        color: var(--color-gray);
        font-family: "SegoeUI";
        font-size: 1.4rem;
    }
}

.input > input::placeholder {
    color: white;
}

.search {
    min-width: 300px;
    // height: 100px;
    background-color: var(--color-white);
}

.search:nth-child(2) {
    padding-top: 10px;
    margin-top: 6px;
    border-top: 1px solid var(--color-f2);
}

.search-title {
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: -2px;
    padding-left: 16px;
}

.search-item {
    @include flex(center, unset);
    padding: 7px 10px 6px;
    width: 100%;
    height: 34px;
    cursor: pointer;

    &:hover {
        background-color: #f2f2f2;
    }
}

.search-item > svg {
    margin-right: 4px;
    color: var(--color-73);
}

.search-name {
    font-size: 1.3rem;
    color: var(--color-text);
}

.popper {
    margin-top: 5px;
    margin-left: -5px;
    border-radius: 0px 0px 3px 3px;
    overflow-x: hidden;
    box-shadow: 0 0 1px rgb(0 0 0 / 30%);

    &--full {
        width: unset;
    }
}
