.tippy-box {
    font-size: 1.3rem;
    background-color: #555;
}
.tippy-arrow {
    color: #555;
}

.tippy-content {
    padding: 8px 9px;
}

.tippy-tooltip[data-animation='rotate'][data-state='hidden'] {
    opacity: 0;
    transform: rotate(90deg);
}

//dropdown
.tippy__dropdown-wrapper {
    margin-bottom: 10px;
}
.tippy__dropdown {
    padding: 10px 0;
}

.tippy__dropdown-item {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.4rem;
    padding: 6px 20px;
    transition: var(--transition-base);
    cursor: pointer;

    &:hover {
        background-color: var(--color-f2);
    }
}
