:root {
    --font-family: 'Roboto', sans-serif;

    --white: white;
    --black: black;
    --gray: #cccccc;

    --color-e6: #e6e6e6;
    --color-a6: #a6a6a6;
    --color-6a: #6a6a6a;
    --color-f8: #f8f8f8;
    --color-73: #737373;
    --color-666: #666;
    --color-26: #262626;
    --color-4d: #4d4d4d;
    --color-f2: #f2f2f2;
    --color-d9: #d9d9d9;
    --color-f8: #f8f8f8;

    --primary-color: #00a82d;
    --primary-hover: #0e753d;
    --primary-bold: #008f26;
    --active-icon-toolbar: #66b3da;
    --text-color: #333333;
    --color-blue: #0081c2;
    --color-red: #ff7070;
    --color-violet: rgb(167, 61, 188);

    --box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    --transition-base: all 0.2s ease-in-out;
}
