@import 'styles/mixin';

:root {
    --height-header: 96px;
    z-index: 1;
}

.wrapper {
    border-right: 1px solid var(--color-e6);
    height: 100%;
    background-color: var(--color-f8);
}

//header
.header {
    height: var(--height-header);
    padding: 18px 16px 0 24px;
}

.title {
    @include flex(center, unset);
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px;

    &-icon {
        margin-right: 8px;
    }

    & > span {
        font-size: 2rem;
    }
}

.concern {
    @include flex(center, space-between);
    margin-bottom: 12px;
}

.total {
    color: var(--color-666);
    font-size: 1.4rem;
}

//list

.table {
    height: calc(100vh - var(--height-header));
    overflow-y: auto;
}

.table-header {
    padding: 0 8px;
    height: 34px;
    @include flex(center, unset);
    border-top: 1px solid var(--color-e6);
    border-bottom: 1px solid var(--color-e6);
}

.column-header {
    padding: 0 8px;
    height: 16.5px;
    font-size: 1.1rem;
    color: var(--color-73);
    text-transform: uppercase;
    font-weight: 700;
}

.column-header:nth-child(1) {
    flex-basis: 160px;
    min-width: 160px;
}

.column-header:nth-child(2) {
    flex-basis: 92px;
    min-width: 92px;
    border-right: 1px solid var(--color-e6);
    border-left: 1px solid var(--color-e6);
}

.column-header:nth-child(3) {
    flex-basis: 1;
}
