@import 'styles/mixin';

.wrapper {
    padding: 10px 0;
}

.item {
    width: 100%;
    padding: 6px 20px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;

    &:hover {
        background-color: var(--color-f2);
    }

    &__disable {
        opacity: 0.5;
        cursor: default;
    }

    &__disable:hover {
        background-color: unset;
    }
}

.lineThrough {
    height: 1px;
    width: 100%;
    background-color: var(--color-f2);
    margin: 6px 0;
}

.more {
    height: 100%;
    width: 24px;
    margin-left: auto;
    @include flex(center, center);
    cursor: pointer;
    border-radius: 4px;
    transition: var(--transition-base);
    &:hover {
        background-color: var(--color-e6);
    }
    & > svg {
        width: 20px;
        height: 20px;
    }
}
