.more {
    height: 100%;
    width: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: var(--transition-base);
    &:hover {
        background-color: var(--color-f2);
    }
    & > svg {
        width: 20px;
        height: 20px;
    }
}
