@import 'styles/mixin';

.row {
    @include flex(center, unset);
    padding: 0 8px;
    height: 34px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
        background-color: var(--white);
    }

    &__hl {
        background-color: var(--color-f2);
    }
    &__active {
        background-color: var(--white);
        border-bottom: 2px solid var(--color-blue);
        border-top: 2px solid var(--color-blue);
    }
    &__active:hover {
        background-color: var(--white);
    }
}

.column {
    @include text-overflow(1);
    font-size: 1.4rem;
    padding: 0 8px;
}

.column:nth-child(1) {
    color: var(--color-26);

    flex-basis: 160px;
    min-width: 160px;
}

.column:nth-child(2) {
    color: var(--color-4d);

    flex-basis: 92px;
    min-width: 92px;
}

.column:nth-child(3) {
    flex-basis: 1;
}
