.wrapper ~ .wrapper {
    margin-top: 16px;
}

.label {
    display: inline-block;
    color: var(--color-4d);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.4rem;
}

.input {
    font-size: 1.6rem;
    width: 100%;
    height: 42px;
    padding: 0px 10px 0 20px;
    border-radius: 4px;
    color: var(--text-color);
    transition: all 0.15s ease-in-out;
    &:focus {
        border-color: var(--primary-color);
    }
}

.outline {
    border: 1px solid #ccc;
}

.error {
    font-size: 1.24rem;
    line-height: 20px;
    max-height: 400px;
    color: var(--color-red);
    margin-top: 4px;
}
