.wrapper {
    max-height: calc(100vh - 100px);
    padding: 12px 0;
}
.list {
    min-width: 200px;
}

.item {
    padding: 0 20px 0 12px;
    display: flex;
    align-items: center;
    height: 28px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: var(--transition-base);
    &:hover {
        background-color: var(--color-f2);
    }
    &__active > .icon {
        background-color: var(--color-light-blue);
        border-radius: 4px;
    }

    &__active > .icon > svg {
        fill: var(--color-white);
    }

    &__hide {
        display: none;
    }
}

.icon {
    margin-right: 6px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    font-size: 1.4rem;
    color: var(--color-4d);
}

.line-through {
    padding: 8px 0;

    & > span {
        height: 1px;
        background-color: var(--color-f2);
        width: 100%;
        display: block;
    }
}
