.btn {
    height: 28px;

    line-height: 28px;
    border-radius: 3px;
    padding: 0 2px;
    margin: 0 2px;
    border: 1px solid var(--white);
    & svg {
        fill: var(--color-26);
    }
    &:hover {
        background-color: var(--color-f2);
    }
    &:active {
        border: 1px solid var(--active-icon-toolbar);
    }
}

.btn-active {
    background-color: var(--active-icon-toolbar);

    &:hover {
        background-color: var(--active-icon-toolbar);
        opacity: 0.8;
    }
    & > svg {
        fill: var(--white);
    }
}

//dropdown
.dropdown-wrapper {
    min-width: fit-content;
}
.dropdown-btn {
    padding: 0;
    margin: 0;
    & > span {
        display: inline-block;
        padding: 0 4px;
        color: var(--color-4d);
        font-weight: 700;
    }
    & > svg {
        margin: 0 4px;
    }
}

//Handle Button
.tippy-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid var(--color-a6);
    border-bottom: 1px solid var(--color-a6);
    font-size: 1.2rem;
    padding: 3px 6px;
    color: var(--black);
}
