@import "styles/mixin";

.wrapper {
    @include flex(flex-start, space-between);
    margin-bottom: 10px;
}

.title {
    @include flex(center, unset);
    font-size: 2rem;
}

.title-recycle {
    align-items: unset;
    justify-content: space-between;
    width: 100%;
    &__name {
        display: flex;
    }
}

.icon {
    &-note {
        margin: 4px 8px 0 2px;
    }
    &-book {
        margin: 0 4px 0 -2px;
    }
}

.clear {
    @include flex(center, unset);

    max-width: 136px;
    line-height: 1.4rem;
    padding: 8px 15px;
    border: 1px solid var(--color-73);
    border-radius: 4px;

    text-align: center;
    font-size: 1.4rem;
    color: var(--color-73);
    transition: var(--transition-base);
    cursor: pointer;

    &:hover {
        background-color: var(--color-f2);
    }

    &:active {
        background-color: var(--color-e6);
    }
}
